.info-card{
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  width: 386px;
  height: auto;
  text-align: center;

  .info-card-title{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color:#000000A6;
    text-align: center;
    padding-top: 32px;
  }

  .info-card-value{
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 10px;
    color:var(--primary-color);

    &.expense{
      color: rgba(220, 103, 136, 0.58);
    }

    &.income{
      color:#84C57A;
    }
  }
}
