.main {
  display: grid;
  place-items: center;
  margin-bottom: 65px;

  @media screen and (max-width: 1029px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

}

.ant-checkbox-group-item {
  display: block;
  margin-right: 0;
}
