.radio-field{
  &.categories{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
    margin-top: 27px;

    .ant-radio-wrapper{
      width: 23px;
      height: 23px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .ant-radio-checked{
        .ant-radio-inner{
          &::after{
            border: 2px solid #140C6F;
            background-color: transparent;
            transform: scale(1.5) !important;
          }
        }
      }

      .ant-radio-inner{
        background: transparent;
        border: 0;
      }
    }
  }
}


