.checkbox-field{
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  color: #140C6F;
  padding-bottom: 15px;

  .ant-checkbox-group-item{
    margin: 0;

    span:last-child{
      font-family: "Montserrat", sans-serif !important;
      font-size: 14px !important;
      color: #140C6F;
    }
  }
}

.ant-checkbox {
  border-radius: 0 !important;
  background-color: #D9D9D9 !important;
  width: 23px;
  height: 23px;

  span{
    font-family: "Montserrat ExtraBold", sans-serif !important;
  }
}

.ant-checkbox-inner{
  background-color: #D9D9D9 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #140C6F;
  background-color: #140C6F !important;
  color:white;
  border-radius: 0;
  width: 23px;
  height: 23px;
}