.table{
  border: none;
  width: 1222px;
  margin: 0;

  .ant-table-body {
    font-family: "Inter", sans-serif !important;
    font-size: 14px;
    color: #70768C;
  }

  .ant-table-thead .ant-table-cell {
    background-color: white;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #140C6F;
    border: none;
  }

  .ant-table-tbody>tr>td{
    border: none;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }


  ::-webkit-scrollbar-thumb {
    background: #F3F3F3;
    border-radius: 6.5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #F3F3F3;
  }

}