.form-container{
  margin: 79px 0 43px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.32vw;

  @media screen and (max-width: 1155px) {
    flex-direction: column;
  }

  .radio-buttons-container{
    .filter-radio-buttons{
      display: flex;
      gap: 2.44vw;

      .ant-radio-wrapper{
        flex-direction: row-reverse !important;
        span{
          font-family: "Inter", sans-serif !important;
          font-size: 18px !important;
          font-weight: 500;
          color: var(--primary-color);
        }
      }

      .ant-radio-checked .ant-radio-inner{
        border: 2px solid var(--primary-color) !important;
        background-color: white !important;
      }

      .ant-radio-inner{
        border: 2px solid var(--primary-color) !important;
      }

      .ant-radio:hover .ant-radio-inner {
        border-color: var(--primary-color) !important;
      }

      .ant-radio-checked .ant-radio-inner:after{
        background-color: var(--primary-color);
      }
    }
  }

  .filter-inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.32vw;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    .filter-input-field{
      width: 19.37vw !important;
      height: 56px !important;
      font-family: "Metropolis", sans-serif;
      font-size: 16px;
      padding: 18px;
      border: 1px solid black !important;
    }

    .filter-date-field{
      border: 1px solid var(--primary-color) !important;
      width: 293px;
      height: 56px;

      .ant-picker-input>input::placeholder{
        color: var(--primary-color) !important;
        font-family: "Metropolis", sans-serif;
        font-size: 16px !important;
      }

      .ant-picker-input>input{
        padding: 16px;
        color: var(--primary-color) !important;
        font-family: "Metropolis", sans-serif;
        font-size: 16px !important;
        cursor: pointer !important;
      }
    }

    .filter-select-field{
      .ant-select-selector{
        width: 295px !important;
        height: 56px !important;
        font-family: "Metropolis", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #B7B7B7;
        padding: 13px !important;
        border-color: black !important;
        cursor: pointer;
      }
    }
  }
}