.filter-btn{

  .ant-select{
    border: 1px solid var(--primary-color) !important;
  }

  .ant-select-selector{
    font-size: 20px;
    color: var(--primary-color);
    font-family: "Montserrat ExtraBold", sans-serif;
    border: 1px solid var(--primary-color) !important;
    border-radius: 10px;
    width: 240px !important;
    height: 60px !important;

    .ant-select-selection-item{
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Montserrat ExtraBold", sans-serif !important;
      font-size: 20px !important;
    }

    .ant-select-selection-placeholder{
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--primary-color);
    }
  }
}