.date-field{
  background:transparent;
  border-radius: 0;
  border:none;
  border-bottom:1px solid rgba(20, 12, 111, 0.5);
  width: 176px;
  cursor: pointer !important;
}

.ant-picker-input{
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  margin-bottom: 10px;
}

.ant-picker-input>input{
  color: #140C6F !important;
  font-family: "Montserrat", sans-serif;
  font-size: 18px !important;
  cursor: pointer !important;
}


