.info-cards-container, .main, .chart-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-cards-container{
  gap: 3.80vw;
  margin-top: 92px;

  @media screen and (max-width: 1336px) {
    flex-direction: column;
    gap: 20px;
  }


}

.main{
  flex-direction: column;
  margin-top: 91px;


}

.filters{
  width: 85%;

  @media screen and (max-width: 908px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.77vh;
  }

  .current-state{
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 908px) {
      display: flex;
      flex-direction: row;
      float: none;
    }
  }

  .filter-buttons{
    float:right;
    display:flex;
    gap:30px;

    @media screen and (max-width: 908px) {
      display: flex;
      flex-direction: column;
  }
  }

  .current-state{
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 27px;
    color: #140C6F;
    padding-left: 42px;

    @media screen and (max-width: 908px) {
      padding: 0;
    }
  }

}

.chart-container{
  margin: 4.81vh 0 53px 0;
  padding: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}