.drop-container{
  z-index: 100;

  .nav-dropdown {
    width: auto;
    height: 60px;
    border-radius: 10px;

    @media screen and (max-width: 1285px) {
      margin-bottom: 30px;
      height: 40px;
    }
  }
}