
.user-btn{
  width: 76px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5E72EB;
  border: 1px solid #5E72EB;
  border-radius: 10px;
  padding: 16px;
}

.ant-popover{
  padding: 0 !important;
  margin: 0 !important;
}
