.category-container{
  display: flex;
  gap: 4.27vw;
  align-items: center;
  justify-content: center;
  margin: 105px 0 284px 0;

  @media screen and (max-width: 1336px) {
    flex-direction: column;
  }

  .card-category{
    .card-title{
      .start{
        float: left;
        font-family: "Inter Bold", sans-serif;
        font-size: 19px;
        color: #140C6F;
        padding: 0 0 0 18px;

      }
      .end{
        float:right;
      }
    }

    .category-table{
      .ant-table{
        ::-webkit-scrollbar {
          width: 10px;
        }

        ::-webkit-scrollbar-thumb {
          background: #F3F3F3;
          border-radius: 6.5px;
        }

        ::-webkit-scrollbar-thumb:hover {
          background: #F3F3F3;
        }

        .ant-table-container{
          font-family: "Inter Bold", sans-serif !important;
          font-size: 15px !important;
          color: black;
          @media screen and (max-width: 800px) {
            font-size: 13px !important;
          }

          .ant-table-header{
            .ant-table-thead{
              tr{
                th{
                  font-size: 18px !important;
                  border: none !important;
                  border-right: none !important;
                  background-color: white !important;
                  @media screen and (max-width: 800px) {
                    font-size: 15px !important;
                  }
                  &::before{
                    content: none !important;
                  }
                }
              }
            }
          }

          .ant-table-body{
            tr{
              td{
                border: none !important;
              }
            }
          }
        }
      }
    }
  }
}