.no-data-container{
  display: flex;
  align-items: center;
  justify-content: center;

  .title{
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 40px;
    color: #B80F0A;
    margin-top: 200px;
  }
}