.category-form-container{
  width: 445px;
  height: 449px;

  .ant-card-head-title{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    padding: 35px 0 0 10px;
  }

  .card-title{
    padding: 20px;
    .float-start {
      float: left;
    }
    .float-end {
      float: right;
    }

    .close-btn{
      width: 30px;
      height: 30px;
      background-color: #140C6F;
      color: white;
      border: none;
      border-radius: 5px;
      font-family: "Inter", sans-serif;
      font-size: 20px !important;
      cursor: pointer;
    }
  }

  .ant-card-head{
    border: none;
  }

  .ant-card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .content{

    .ant-input{
      padding: 0 0 6px 0 !important;
    }

    .colors{
      margin-top: 35px;

      p{
        font-family: "Montserrat ExtraBold", sans-serif;
        font-size: 18px;
        color: #140C6F;
        margin: 0;
      }

    }
  }

  .button-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
  }
}



