.time-field{
  width: 127px;
  border: none;
  border-bottom: 1px solid rgba(20, 12, 111, 0.5);
  border-radius: 0;
  cursor: pointer;

  .ant-picker-input>input{
    font-family: "Montserrat", sans-serif;
    font-size: 18px !important;
    font-weight: 400;
    color: #140C6F;
  }

}

.ant-picker-now>a{
  font-family: "Montserrat", sans-serif;
  color: #140C6F;
}

.ant-picker-ok>button{
  background-color: #140C6F;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
}

