.navigation-menu{
  background-color: #140C6F;
  color: white;
  padding: 41px 0 21px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 57px;
  position: relative !important;


  .logo-item{
    padding-left: 2.87vw;
  }

  .ant-menu-item{
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 18px;
    line-height: 22px;
  }

  .ant-menu-item-only-child:first-child{
    margin-right: auto;
  }

    .menu-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:35px;
    padding-right: 101px !important;
  }
}

.ant-menu-item-selected{
  border-bottom: none !important;
  color: #FFA800 !important;
  &:hover{
    color: #FFA800 !important;
  }
}

.ant-menu-item{
  &::after{
    border: none !important;
  }
  &:hover::after{
    content: none;
  }
  &:hover{
    color: #FFA800 !important;
  }
}



