.transaction-date-field{
  border: 1px solid #140C6F !important;
  width: 293px;
  height: 56px;

  .ant-picker-input>input::placeholder{
    color: #140C6F !important;
    font-family: "Metropolis", sans-serif;
    font-size: 16px !important;
  }

  .ant-picker-input>input{
    padding: 16px;
    color: #140C6F !important;
    font-family: "Metropolis", sans-serif;
    font-size: 16px !important;
    cursor: pointer !important;
  }
}