.form-container{
  .inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 19px;
    margin-top: 57px;
  }

  .forgot-password{
    font-family: "Inter", sans-serif;
    font-size: 18px !important;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 41px;
    cursor: pointer;
    letter-spacing: 1px;
  }

  .button-section{
    text-align: center;
  }

}