.password_field{
  border-radius: 10px;
  padding: 17px 16px 17px 33px;

  input {
    &::placeholder {
      color: #000000;
    }

    &:-ms-input-placeholder {
      color: #000000;
    }

    &::-ms-input-placeholder {
      color: #000000;
    }
  }

  &::placeholder{
    color: black !important;
  }

  .ant-input-password{
  &::placeholder{
      font-family: "Inter", sans-serif;
      font-weight: 400;
      line-height: 15px;
      font-size: 13px;
      color: black !important;
    }
  }

  .ant-input-suffix>span>svg{
    color: #140C6F;
    width: 16px;
    height: 16px;
  }


.ant-input-password{
  ::placeholder{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 15px;
    font-size: 13px;
    color: black !important;
  }
}

.ant-input-suffix>span>svg{
  color: #140C6F;
  width: 16px;
  height: 16px;
}

  &.profile {
    width: 318px;
    height: 40px !important;
    border: 1px solid #A9A9A9;
    border-radius: 8px;
    padding: 11px 11px 11px 13px;
  }

}

.ant-input input::placeholder {
  color: orange !important;
}