.transaction-select-field{

  .ant-select-selector{
    width: 295px !important;
    height: 56px !important;
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #B7B7B7;
    padding: 13px !important;
    border-color: black !important;
    border-radius: 5px !important;
  }

}