.btn-add-transaction{
  width: 231px;
  height: 61px;
  background: transparent;
  border-radius: 10px;
  color: white;
  border: 1px solid white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding: 8px 12px 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}