@import "assets/style/colors";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter Bold";
  src: url("./assets/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url("./assets/fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis.regular.otf");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
