.btn-add-general{

  &.big, &.small{
    background-color: #140C6F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
  }

  &.big{
    width: 77px;
    height: 60px;
  }

  &.small{
    width: 30px;
    height: 30px;
    color:white;
    font-size: 30px !important;
    border: none;
  }
}